

#container {
    /* border: solid 1px; */
    width: 60%;
    margin:0 auto;
    background-color: #232323;
    color: white;
    padding-bottom: 10px;
    box-shadow: black 2px 4px 10px;
    text-shadow: 0px 0px 10px #3177d3;
}
#container h1{
    text-align: center;
    text-decoration: underline;
    word-spacing: 20px;
    margin-top:50px;
    padding-top: 30px;
}

#container h2{
    text-align: center;
}
#balance {
    text-align: right;
    margin-top: -40px;

}
.clock {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    font-size: 4.5em;
    text-shadow: 0px 0px 10px #3177d3;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

#labour{
    width: 80%;
    margin:60px auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}
.input-group{
    width: 40%;
    margin:10px auto;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}
.btn{
    width: 100%;
    padding: 10px;
    margin: 1px;
    font-size: 15px;
    color: white;
    background: #3177d3;
    border:none;
    border-radius: 5px;
}